<?xml version="1.0" encoding="UTF-8"?>
<zabbix_export>
    <version>6.0</version>
    <date>2023-08-01T12:47:58Z</date>
    <groups>
        <group>
            <uuid>dc579cd7a1a34222933f24f52a68bcd8</uuid>
            <name>Linux servers</name>
        </group>
    </groups>
    <hosts>
        <host>
            <host>MasterHost</host>
            <name>MasterHost</name>
            <templates>
                <template>
                    <name>Linux by Zabbix agent</name>
                </template>
            </templates>
            <groups>
                <group>
                    <name>Linux servers</name>
                </group>
            </groups>
            <interfaces>
                <interface>
                    <ip>{{ kub_server }}</ip>
                    <interface_ref>if1</interface_ref>
                </interface>
            </interfaces>
            <inventory_mode>DISABLED</inventory_mode>
        </host>
    </hosts>
</zabbix_export>
