---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plugin-jenkins
  namespace: jenkins-ns
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 300Mi
  storageClassName: {{ nfs }}
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jobs-jenkins
  namespace: jenkins-ns
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 300Mi
  storageClassName: {{ nfs }}
  volumeMode: Filesystem